footer {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;

	.top, .bottom {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.top {
		background-color: $dark-blue;
		height: 100px;
	}

	.bottom {
		
		height: 150px;
		background-color: $blue;

		img {
			height: 60px;
			width: auto;
		}

		img:not(:last-child) {
			margin-right: 20px;
		}
		
	}

	#legal {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 20px 0;
		background-color: #425563;

		p {
			margin-bottom: 20px;
			color: #f5f6f7;
		}

		a {
			color: #f5f6f7;
			text-decoration: underline;

			&:first-child {
				margin-right: 10px;
			}

		}

	}

}