label {
	color: $blue-gray;
	font-size: 22px;
	font-family: "Fjalla One", sans-serif;
	text-transform: uppercase;
	display: flex;
	flex-flow: column nowrap;

	&.less {
		max-width: 300px;
		width: 95%;
	}

	&.right {
		margin-right: 20px;
	}

	input {
		background-color: #fff;
		font-size: 16px;
		height: 70px;
		border-radius: 6px;
		margin-top: 5px;
		text-indent: 15px;

		&.gray {
			background-color: $bg-gray;
		}

	}

}

.default-form {

	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 95%;
	max-width: 600px;

}

@media all and (max-width: 600px) {

	.default-form {

		align-items: center;
		width: 100vw;
		padding: 20px;
		background-color: #f5f6f7;
		bottom: 0px;
		position: absolute;

		label input.gray {
			background-color: #fff;
		}

		label.right {
			margin-right: 10px;
			margin-bottom: 20px;
			font-size: 14px;
			max-width: 180px;

			input {
				height: 40px;
			}

		}

		a.convert {
			max-width: 125px;
			height: 40px;
			font-size: 13px;
			padding-left: 10px;
			padding-right: 0px;

			&::after {
				margin-left: 10px;
				background-size: 7px;
			}

		}

	}

}
