a.convert {

	background-color: $orange;
	height: 70px;
	border-radius: 4px;
	color: #fff;
	font-family: "Fjalla one", sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 30px;
	padding-right: 20px;

	&::after {

		content: "";
		background-image: url(/assets/right-chevron.svg);
		background-repeat: no-repeat;
		background-position-y: center;
		margin-left: 20px;
		display: inline-block;
		width: 20px;
	    height: 30px;
	    background-size: 16px;

	}

}

@media all and (max-width: 767px) {
	a.convert.sticky {
		position: sticky;
		bottom: 5px;
	}
}

@media all and (max-width: 500px) {

	a.convert {
		font-size: 22px;
	}

}
