$orange: #ff6900;
$bg-gray: #f5f6f7;
$blue: #425563;
$blue-gray: #7d8d9a;
$dark-blue: #303d46;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	color: $blue;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	font-family: "Rubik", sans-serif;

	&:focus {
		outline: none;
	}

}

html, body {
	height: 100%;
	background-color: #fff;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Fjalla One", sans-serif;
}

.bg-gray {
	background-color: $bg-gray;
}

section {

	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	align-items: center;

	h1 {
		font-size: 35px;
		line-height: 48px;
		max-width: 830px;
		width: 95%;
		text-align: center;
		margin-bottom: 35px;
	}

}

img {
	max-width: 95%;
	height: auto;
}

@media all and (max-width: 767px) {
	section h1 {
		font-size: 22px;
	}
}

