header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	&.top {
		height: 90px;
	}

	&.orange {
		height: 70px;
		background-color: $orange;
	}

}

@media all and (max-width: 767px) {

	header.top {
		
		height: 60px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			max-width: 160px;
		}

	}

	header.orange {
		height: 40px;
	}

}
