--- 
layout: layouts/base.njk 
---

    <header class="top">

        <a href="https://shinesolar.com/" title="Shine Solar Website">
            <img src="/assets/light-logo.svg" alt="A light colored orange and blue Shine Solar logo" title="Shine Solar">
        </a>

    </header>

    <header class="orange"></header>


    <section class="bg-gray" style="padding-top: 35px; padding-bottom: 75px;" id="firstSection">

        <div id="headlineContent">
            <h1>Take our 30-Second Solar Survey To Qualify For $0 Down Solar Panels + Backup Battery, PLUS Get $2000
                Cash back!</h1>
        </div>

        <img src="/assets/house.svg" alt="A colored green and blue house illustration" title="House"
            style="margin-bottom: 50px;">

        <p id="subheading" class="subheading">Enter Your ZIP Code to see if your home qualifies for ZERO DOWN solar panels and get your
            power bill as low as $15.</p>

        <form class="default-form" action="javascript:;">

            <label class="less right">Zip Code
                <input id="inputzip" type="number" inputmode="decimal">
            </label>
            
            <a href="javascript:;" id="gotosurvey" onclick="processZip()" title="Go to the survey" class="convert" >Find out now</a>

        </form>
        <span class="hide" style="color: #ff6900; margin-top: 13px;" id="error-zip" hidden>
            Please, enter a valid zip code</span>

    </section>

    <section style="padding-top: 55px; padding-bottom: 105px;">

        <h1 style="margin-bottom: 50px;">Check out what our customers are saving</h1>

        <div id="reviewContainer" style="margin-bottom: 30px;">

            <div class="review">

                <img src="/assets/tracy.jpg" alt="A picture of Tracy" title="A customer of Shine">
                <h3>Tracy</h3>
                <div class="star-container">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                </div>
                <span class="date">Jun 2020</span>
                <p class="saving">Now saving <span class="dollar">158.12</span> per month</p>

            </div>

            <div class="review">

                <img src="/assets/larry.jpg" alt="A picture of Larry" title="A customer of Shine">
                <h3>Larry</h3>
                <div class="star-container">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                </div>
                <span class="date">Jul 2020</span>
                <p class="saving">Now saving <span class="dollar">85.45</span> per month</p>

            </div>

            <div class="review">

                <img src="/assets/gary.jpg" alt="A picture of Gary" title="A customer of Shine">
                <h3>Gary</h3>
                <div class="star-container">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                </div>
                <span class="date">Aug 2020</span>
                <p class="saving">Now saving <span class="dollar">3.67</span> per month</p>

            </div>

            <div class="review">

                <img src="/assets/wk.jpg" alt="A picture of Will & Krissi" title="A customer of Shine">
                <h3>Will & Krissi</h3>
                <div class="star-container">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                    <img src="/assets/star.svg" title="Star" alt="Star" class="small-icon">
                </div>
                <span class="date">Sep 2020</span>
                <p class="saving">Now saving <span class="dollar">102.07</span> per month</p>

            </div>

        </div>

    </section>

    <footer>

        <div class="top">

            <a href="https://shinesolar.com/" title="Shine Solar Website">
                <img src="/assets/dark-logo.svg" alt="A dark colored orange and blue Shine Solar logo"
                    title="Shine Solar">
            </a>

        </div>

        <div class="bottom">

            <img src="/assets/angies.png" alt="A green angies list logo" title="Angies List">

            <img src="/assets/bbb.png" alt="The better business bureau logo" title="Better Business Bureau">

            <img src="/assets/ha.png" alt="Home advisor" title="Home advisor">

        </div>

        <div id="legal">

            <p>Shine Solar &copy;</p>
            <div class="links">
                <a href="https://shinesolar.com/terms/">Terms</a> <a href="https://shinesolar.com/privacy/">Privacy
                    Policy</a>
            </div>

        </div>

    </footer>

    <!-- <script src="https://ytsmart.netlify.app/js/build.js"></script> -->
    <!-- <script src="js/build.js"></script> -->
    <script src="/js/scriptLanding.js"></script>